@charset "utf-8";
/* CSS Document */

body {
	background-image: url(tlo.png);
	background-repeat: repeat-x;
	background-color: #99ccff;
}

div#content {
	width: 960px;
	background-color: #FFF;
	margin-left: auto;
	margin-right: auto;
	padding: 15px;
	height: 960px;
}

img {
	margin-top: 50px;
	margin-left: 50px;
	border: 2px solid #000;
	-moz-transform: scale(0.5,0.5) rotate(-60deg);
}












