/* 
    Document   : style.css
    Created on : 2012-06-05, 13:31:43
    Author     : Arek
    Description:
        Purpose of the stylesheet follows.
*/

.hide
{
    text-indent: -99999px;
    height: 0px;
}

#copyright
{
    color: teal;
    text-shadow: teal 0px 0px 2px;
}