@import url(https://fonts.googleapis.com/css?family=Open+Sans);
* {
    box-sizing: border-box;
}
body {
    padding: 0;
    margin: 0;
    background-color: #2980b9;
    font-family: 'Open Sans', sans-serif;
}
h1 {
    margin: 0;
    color: #fff;
    text-align: center;
    padding: 50px;
    font-size: 200%;
    text-shadow: 1px 1px 1px #000;
}
.hero {
    background: url('/static/lessons/13.jpg') center;
    background-size: cover;
    min-height: 150px;
    box-shadow: 1px 1px 3px #000;
}
.container {
    width: 80%;
    margin: 20px auto;
    text-align: justify;
    background-color: white;
    padding: 20px;
    box-shadow: 2px 2px 10px #000;
    text-align: center;
}
.example,
.exercise {
    padding-bottom: 20px;
}
.example > div {
    height: 50px;
    width: 50px;
    background-color: #e74c3c;
    border-radius: 8px;
    transition-duration: 2s;
}
.example:hover > div {
    margin-left: 50%;
}
.example > div:nth-of-type(2) {
    transition-timing-function: linear;
}
.example > div:nth-of-type(3) {
    transition-timing-function: ease-in-out;
}
.example > div:nth-of-type(4) {
    transition-timing-function: cubic-bezier(1,0.5,1,0.5);
}
.example:hover > div {
  margin-left: 40%;
} 
/*EXERCISE*/

.exercise > div {
    border-radius: 5px;
    margin-top: 10px;
    width: 80px;
    height: 80px;
    background-color: #16a085;
    transition-property: width, height, margin-left;
    transition-duration: 2s;
}
.exercise:hover > div {
    margin-left: 40%;
    width: 100px;
    height: 100px;
}

.exercise:hover > .practice-linear { 
    transition-timing-function: linear:
}

.exercise:hover > .practice-ease. {
    transition-timing-function: ease-in;
}
