body {
	background-color: #36D7B7;
    font-family: 'Open Sans', sans-serif;	
    margin: 0;
}
.hero {
    background: url('/static/lessons/green-mountains.jpg')  0/cover no-repeat;
    height: 200px;
    line-height: 140px;
    padding: 20px;
}
.hero div {
	background-color: rgba(0, 0, 0, 0.4);	
}
.container {
	width: 80%;
	max-width: 700px;
	margin: 20px auto;
	border-radius: 4px;
	background-color: #fff;
	padding: 20px;
	box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.5);
}
.nav {
	text-align: center;
	background: #2ECC71;
}
a {
	padding: 10px;
	color: #fff;
	text-decoration: none;
	display: inline-block;
}
a:hover {
	color: #1E824C;
}
h1, .footer {
	text-align: center;	
    color: #fff;
    margin: 0;
    padding: 20px;
}
.footer {
    background: #26C281;
}
h1 {
	text-shadow: 2px 2px 5px #000;
}