body {
    background-color: #eeeeee;
    margin: 0;
}

h1 {
    text-align: center;
}

img {
    width: 100%;
}

.header {
    background-color: #0d8abc;
    color: white;
    padding: 30px 0;
    text-align: center;
}

.header h1 {
    font-family: Verdana, sans-serif;
}

.content {
    background-color: #daeaf6;
    margin: 0 auto;
    max-width: 500px;
    padding: 20px;
}

.footer {
    background-color: #626060;
    font-weight: 700;
    text-transform: uppercase;
}

.footer p {
    color: white;
    margin: 0;
    padding: 15px 15px 20px 20px;
}

.banner {
    background-image: url("https://images.pexels.com/photos/592285/pexels-photo-592285.jpeg?h=350&auto=compress&cs=tinysrgb");
    height: 40px;
}

.banner p {
    color: black;
    font-weight: bold;
    padding: 10px;
}





