* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Width i Height Margin  Padding*/
}

body {
    display: flex;
    flex-direction: column; /* Flex Grow*  dotyczy Osi X */
    align-items: center; /* Domyślnie shrink */
    min-height: 100vh;
    background-color: #0d8abc;
    font-family: 'open sans', sans-serif;
    font-size: 30px;
    color: #FFF;
}

.main {
    max-width: 1200px;
    border: 1px solid #FFF;
    margin: 0 auto;
}

a {
    display: block;
    text-decoration: none;
}

nav {
    padding: 30px 0;
    background-color: #0F4800;
    align-self: stretch;
}

header {
    width: 100%;
    background-color: #0f5649;
    /*max-width: 1200px;*/
    flex-basis: 50vh;
}

section {
    display: flex;

    flex-grow: 1;
    width: 100%;
    background-color: #3e152b;
    max-width: 1200px;
}

article {
    flex-grow: 1; /* Cała wolna przestrzeń */
}

aside {
    flex-basis: 30%;
    min-width: 280px;
    background-color: #00ACDE;
}


ul {
    list-style: none;
    display: flex;
    flex-direction: column;
}

li {
    flex-basis: 25%;
    /* flex-shrink: 1; */
    /* flex-grow: 0; */
}

a {
    display: block;
    background-color: #444;
    font-size: 22px;
    text-align: center;
    color: white;
    font-family: 'open sans', sans-serif;
    text-decoration: none;
    padding: 20px;
}

a:hover {
    background-color: #000;
}

footer {
    background-color: #0e0e0e;
    align-self: stretch;
    flex-basis: 20vh;
}


@media (min-width: 1025px) {
    ul {
        flex-direction: row;
    }

    a {
        /*margin: 15px;*/
        padding: 40px 0;
    }

}

/*img {*/
/*width: 100%;*/
/*}*/


/*header {*/
/*height: 90vh;*/
/*background-color: red;*/
/*}*/


/*main {*/
/*height: calc(100vh - 300px);*/
/*background-color: #00ACDE;*/
/*}*/

/*section {*/
/*width: 80%;*/
/*margin: 100px auto;*/
/*}*/

/*.products {*/
/*width: 80%;*/
/*height: 400px;*/
/*margin: 100px auto;*/
/*display: flex;*/
/*flex-direction: row-reverse;*/
/*background-color: grey;*/
/*font-size: 18px;*/
/*}*/

/*.f1 {*/
/*width: 300px;*/
/*background-color: #0d8abc;*/
/*}*/

/*.f2 {*/
/*width: 1000px;*/
/*background-color: #0e2f44;*/
/*}*/

/*.f3 {*/
/*background-color: #0f5649;*/
/*}*/

