.message {
  border: 3px solid #ccc;
  padding: 10px;
  color: #333;
  width: 200px;
  text-align: center;
  height: 50px;
  margin: 0 auto;
}

.success {
  @extend .message;
  border-color: green;
}

.error {
  @extend .message;
  border-color: red;
}

.warning {
  @extend .message;
  border-color: yellow;
}



.message {
  border: 3px solid #ccc;
  padding: 10px;
  color: #333;
  width: 200px;
  text-align: center;
  height: 50px;
  margin: 0 auto;
}

.success {
  @extend .message;
  border-color: green;
}

.error {
  @extend .message;
  border-color: red;
}

.warning {
  @extend .message;
  border-color: yellow;
}
