$columns: 2;
$margin: 2%;

.container {
  width: 100%;
}
.column {
  background: #55ee70;
  height: 100px;
  display: block;
  float: left;
  width: (100% / $columns) - ($margin * 2);
  margin: $margin;
}
