/* Style CSS
  nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  width: 100px;
  height: 50px;
  text-align: center;
}

nav a {
  display: block;
  padding: 6px 12px;
  text-decoration: none;
  background-color:#2c3e50;
}
nav ul a:hover,
nav ul a:focus {
  background-color: #34495e;
}
*/

nav {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  li {
    display: inline-block;
    width: 100px;
    height: 50px;
    text-align: center;
  }
  a {
    display: block;
    padding: 6px 12px;
    text-decoration: none;
    background-color: #2c3e50;
    color: white;
    &:hover,
    &:focus {
      background-color: #34495e;
    }
  }
}
