h2 {
	color: #505050;	
	font-size: 40px;
}

.social {
	margin: 0 auto;
	padding: 50px;
	text-align: center;
	width: 500px;
}

.icon-btn {
	border-radius: 50%;
	border: 0;
	color: #FFFFFF;
	cursor: pointer;
	font-size: 40px;
	height: 75px;
	margin: 0 10px;
	width: 75px;
	transition: 1s;
}

.icon-btn:hover {
	transform: scale(1.10);
}

.twitter {
	color: #4099FF;
}

.twitter:hover {
	background-color: #4099FF;
	color: #FFFFFF;
}

.facebook {
	color: #3B5998;
}

.facebook:hover {
	background-color: #3B5998;
	color: #FFFFFF;
}

.google-plus {
	color: #DB5A3C;
}

.google-plus:hover {
	background-color: #DB5A3C;
	color: #FFFFFF;
}

.instagram {
	color:  #5C3D2E;
}

.instagram:hover {
	background-color: #5C3D2E;
	color: #FFFFFF;
}

.github {
	color: #4183C4;
}

.github:hover {
	background-color: #4183C4;
	color: #FFFFFF;
}