@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,500,600,700,800&subset=latin-ext');

/* Clear formating */
*, body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

/* Remove formating from links */
a {
    color: inherit;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    padding-left: 15px;
    padding-right: 15px;
}

/* ==========CLEARFIX========= */
.row:before,
.row:after {
    content:"";
    display: table ;
    clear: both;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    position: relative; 
    padding: 0;
}

p {
    line-height: 24px;
    padding: 0 15px;
}

h1 {
    font-size: 35px;
    font-weight: 300;
    padding-left: 15px;
    padding-right: 15px;
}

h2 {
    font-size: 30px;
    font-weight: 300;
    padding-left: 15px;
    padding-right: 15px;
}

h3 {
    font-size: 14px;
    font-weight: 600;
    padding-left: 15px;
    padding-right: 15px;
}

a span {
    font-weight: 300;
    padding-left: 30px;
}

/* -------------- HERO ------------- */
.hero {
    background: url(http://achromik.com/kodilla/zadania/project-perfect/img/hero3_1-lg-prog.jpg) ;
    background-size: cover;
    height: 100vh;
    position: relative; 
    color: white;
}

.logo {
    position: absolute;
    top: 55px;
    left: 15px;
    background: url(http://achromik.com/kodilla/zadania/project-perfect/img/logo.png);
    height: 43px;
    width: 93px;
}

.side-rotate-logo {
    position: absolute;
    transform: rotateZ(-90deg);
    top: 50vh;
    left: 0px; 
    font-size: 12px;
    font-weight: 300;
    text-transform: uppercase;
}

.side-rotate-logo span {
    font-weight: 800;
    padding-left: 13px
}

.slogan {
    position: relative;
    top: 50vh;
}

.slogan > h1 {
    position: absolute;
    transform: translateY(-50%);
    font-size: 60px;
    font-weight: 300;
}

.slogan > p {
    font-size: 13px; 
    font-weight: 400;
    transform: translateY(50px);
    max-width: 440px;
    /* padding-left: 0; */
}

/* ------------ INTRO -----------------*/

/* 
.phone  img {
    width: 100%;
} */

.intro {
    margin-top: 100px;
    color: #959595;
}

.intro  h1 {  
    margin-bottom: 10px;
} 

.intro p {
    font-size: 13px;
    padding: 10px 15px;
} 

.phone {
    position: relative;
}

.phone > img {
    position: absolute;
    bottom: -157px;
    left: -80px;
}

/* .intro [class*="col-lg-"] {
    padding: 0 15px;
} */

/* ************ BOX GRID **************** */
.box-grid  {
    max-width: 1600px;
    margin-left: calc((100% - 1170px) / 2);
    margin-top: 80px;
}

.box {
    position: relative;
    height: 280px;
    padding: 30px;
    color: white;
}

.box p {
    margin: 20px 0;
}

.box.sign p {
    max-width: 450px;
}

.box a {
    position: absolute;
    bottom: 40px;
}

.link:hover {
    color: black;
    text-shadow: 1px 1px 1px white, -1px -1px 1px white, 1px -1px 1px white, -1px 1px 1px white;
}

.box .fa {
    position:absolute;
    right: 40px;
    bottom: 40px;
    font-size: 18px;
}

.box .fa-heart {
    display: none;
    color: red;
}

.box .heart:hover .fa-heart-o {
    display: none;
}

.box .heart:hover .fa-heart {
    display: block;
}

.box.design {
    background-color: #f5979c;
}

.box.design:hover {
    background-color: #d3757a;
}

.box.built {
    background-color: #615e7d;
}

.box.built:hover {
    background-color: #393c5b;
}

.box.clients {
    background-color: #091e28;
    background: url(http://achromik.com/kodilla/zadania/project-perfect/img/clients.jpg) 0 100%;
    background-size: cover;
}

.box.clients:before {
        content: url(http://achromik.com/kodilla/zadania/project-perfect/img/clients-2.jpg);
        width: 0;
        height: 0;
        visibility: hidden;
        display: none;
}

.box.clients:hover {
    background: url(http://achromik.com/kodilla/zadania/project-perfect/img/clients-2.jpg) 0 100%;
    background-size: cover;
}

.box.shoot {
    background-color: #bc8cbe;
}

.box.shoot:hover {
    background-color: #9b6a9c;
}

.box.sign {
    background-color: #091e28; 
    background: url(http://achromik.com/kodilla/zadania/project-perfect/img/sign-4.jpg) 0 85%;
    background-size: cover;
}

.box.sign:before {
        content: url(http://achromik.com/kodilla/zadania/project-perfect/img/sign-2.jpg);
        width: 0;
        height: 0;
        /* visibility: hidden; */
        display: none;
}

.box.sign:hover {
    background: url(http://achromik.com/kodilla/zadania/project-perfect/img/sign-2.jpg) 0 70%;
    background-size: cover;
}

.box.perfect {
    background-color: #81c99c;
}

.box.perfect:hover {
    background-color: #59a77a;
}

.box.start {
    background-color: #091e28;
    background: url(http://achromik.com/kodilla/zadania/project-perfect/img/starts.jpg) 0 50%;
    background-size: cover;
}

.box.start:before {
        content: url(http://achromik.com/kodilla/zadania/project-perfect/img/starts-2.jpg);
        width: 0;
        height: 0;
        visibility: hidden;
        display: none;
}

.box.start:hover {
    background: url(http://achromik.com/kodilla/zadania/project-perfect/img/starts-2.jpg) 0 70%;
    background-size: cover;
}

/* ******** FOUR COLUMN ********* */
.fourCol {
    width: 100%;
    position: relative;
    color: #959595;
}
.fourCol .side-rotate-logo {
    top: 45px;
    left: 23px;
}

.fourCol .container {
    color: #959595;
    margin-top: 80px;
    position: relative;
}

.fourCol h3 {
    margin-top: 65px;
    margin-bottom: 25px;
}

/* ************ FullImage *********** */
.fullImage {
    height: 90vh;
    background: url(http://achromik.com/kodilla/zadania/project-perfect/img/full-prog.jpg) 23% 71%;
    background-size: cover;
    margin-top: 150px;
    position: relative;
    color: white;
}

.fullImage .container {
    top: 50%;
}

.fullImage h1 {
    color: white;
    font-size: 60px;
    max-width: 540px;
}

.fullImage p {
    padding: 20px 15px;
    max-width: 480px;
    font-size: 13px;
}

/* ********** ONE COLOR ********** */
.oneColor {
    background-color: #81c99b;
    padding-bottom: 140px;
    color: white;
    position: relative;
}

.oneColor .side-rotate-logo {
    top: 174px;
}

.oneColor h1 {
    padding: 125px 0 65px 15px;
}

.oneColor p {
    padding-top: 20px;
}

/* ******* BUYING ********** */
.buying {
    background-color: #f6f7fa;
    padding-top: 100px;
    padding-bottom: 150px;
}

.tile {
    padding: 45px;
    min-height: 380px;
    margin: 0 15px;
    width: calc(50% - 30px);
    float: left;
}
.tile h2 {
    padding: 12px 0;
}

.tile p {
    padding: 0 0 24px 0;
    max-width: 425px;
}

.badage {
    color: white;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 700;
    padding: 5px 12px;
    border-radius: 4px;
    background-color: #e1e1e1;
    display: inline;
}

.button {
    color: white;
    width: 150px;
    height: 45px;
    background-color: #81c99b;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    padding: 5px 12px;
    border-radius: 4px;
    background-color: #81c99b;
    border: 0;
    margin-bottom: 20px;
}

.tile .fa {
    padding-right: 10px;
    color: #c5c5c5;
}

.tile:hover {
    background-color: white;
    box-shadow: 0px 0px 20px 20px rgba(128, 128, 128, 0.1);  
}

.tile:hover .badage {
    background-color: #bd8bbf;
}

.button:hover {
    background-color: #59a77a; 
}

/* ************ FOOTER ************** */

footer {
    width: 100%;
    background-color: #192331;
    padding-top: 130px;
    padding-bottom: 105px;
    color: white;
}

footer p {
    padding-bottom: 60px;
}

footer h3 {
    padding-bottom: 28px;
}

.stayin {
    max-width: 500px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    float: right;
    height: 200px;
}

.stayin form {
    position: relative;
}

.stayin input {
    height: 55px;
    font-size: 35px;
    font-weight: 300;
    width: calc(100% - 70px);
    border: 0;
    position: absolute;
    padding-left: 20px;
    padding-right: 20px;
}

.stayin button {
height: 55px;
    min-width: 70px;
    background: url(http://achromik.com/kodilla/zadania/project-perfect/img/check.png) no-repeat 50% 50% #59a77a;
    border: 0;
    position: absolute;
    right: 0;
}

.stayin h3 {
    padding-left: 0;
}

.stayin p {
    position: absolute;
    top: 71px;
    padding: 0;
    font-size: 12px;
    font-weight: 300;
    max-width: 330px;
}

footer ul {
    padding: 0;
    text-decoration: none;
    font-size: 13px;
    list-style: none;
}

footer ul a {
    font-weight: 300;
    padding-top: 5px;
    padding-bottom: 5px;
    display: block;
}

.links {
    width: 50%;
}

/* --------------- COLUMNS ----------------- */
[class*="col-"] {
    float: left;
    min-height: 1px;
}

.col-lg-1 {width: 8.33%;}
.col-lg-2 {width: 16.66%;}
.col-lg-3 {width: 25%;}
.col-lg-4 {width: 33.33%;}
.col-lg-5 {width: 41.66%;}
.col-lg-6 {width: 50%;}
.col-lg-7 {width: 58.33%;}
.col-lg-8 {width: 66.66%;}
.col-lg-9 {width: 75%;}
.col-lg-10 {width: 83.33%;}
.col-lg-11 {width: 91.66%;}
.col-lg-12 {width: 100%;}

@media (max-width: 2099px) and (min-width: 1650px) {
    .box-grid {
        margin-right: 0;
    }
}

@media (max-width: 1649px) {
    .box-grid {
        max-width: 100%;
        margin: 80px auto;    
    }
}

@media (max-width: 1400px) {
    .side-rotate-logo {
        display: none;
    }

    .phone > img {
        bottom: 75px;
        height: 750px;
    }

    .col-md-1 {width: 8.33%;}
    .col-md-2 {width: 16.66%;}
    .col-md-3 {width: 25%;}
    .col-md-4 {width: 33.33%;}
    .col-md-5 {width: 41.66%;}
    .col-md-6 {width: 50%;}
    .col-md-7 {width: 58.33%;}
    .col-md-8 {width: 66.66%;}
    .col-md-9 {width: 75%;}
    .col-md-10 {width: 83.33%;}
    .col-md-11 {width: 91.66%;}
    .col-md-12 {width: 100%;}
}


@media (max-width: 992px) {
    .phone img {
        display: none;
    }

    .slogan {
        transform: translate(-50%, -50%);
        left: 50%;
        right: 50%;
        text-align: center;
        max-width: 440px;
    }

    .slogan > h1,
    .slogan > p {
        transform: none;
        position: static;
        max-width: 440px;
    }

    .tile {
        width: 75%;
        margin: 0 auto;
        float: none;
    }

    .stayin-wrapper,
    .getin {
        margin: 0 auto;
        float: none;
    }

    .stayin {
        max-width: 100%;
    }

    .links {
        width: 100%;
        float: none;
        margin: 0 auto;
        text-align: center;
    }

    .col-sm-1 {width: 8.33%;}
    .col-sm-2 {width: 16.66%;}
    .col-sm-3 {width: 25%;}
    .col-sm-4 {width: 33.33%;}
    .col-sm-5 {width: 41.66%;}
    .col-sm-6 {width: 50%;}
    .col-sm-7 {width: 58.33%;}
    .col-sm-8 {width: 66.66%;}
    .col-sm-9 {width: 75%;}
    .col-sm-10 {width: 83.33%;}
    .col-sm-11 {width: 91.66%;}
    .col-sm-12 {width: 100%;}
} 

@media (max-width: 768px){
    .intro {
        margin-top: 50px;
    }
    
    .box {
        padding: 10px;
        height: 320px;
    }

    .box-grid {
        margin-top: 50px;;
    }

    .box .fa {
        right: 20px;
    }

    a span { 
        padding-left: 10px;
    }

    .fullImage {
        margin-top: 50px;
    }

    .fullImage .container {
        top: 25%;
    }

    .oneColor {
        padding-bottom: 50px;
    }

    .oneColor .col {
        float: none;
        margin: 0 auto;
        padding-bottom: 40px;
    }

    .oneColor h1 {
        text-align: center;
        padding-top: 60px;
        padding-bottom: 40px;
    }

    .buying {
        padding-top: 60px;
        padding-bottom: 50px;
    }

    footer {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .links h3 {
        padding-top: 30px;
        padding-bottom: 18px;
    }

    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
}

@media (max-width: 425px) {
    .box {
        height: 280px;
        padding: 10px;
    }

    .fullImage h1 {
        font-size: 40px;
    }

    .tile {
        width: 90%;
    }

    .col-xs-1 {width: 8.33%;}
    .col-xs-2 {width: 16.66%;}
    .col-xs-3 {width: 25%;}
    .col-xs-4 {width: 33.33%;}
    .col-xs-5 {width: 41.66%;}
    .col-xs-6 {width: 50%;}
    .col-xs-7 {width: 58.33%;}
    .col-xs-8 {width: 66.66%;}
    .col-xs-9 {width: 75%;}
    .col-xs-10 {width: 83.33%;}
    .col-xs-11 {width: 91.66%;}
    .col-xs-12 {width: 100%;}
}
