@charset "utf-8";
/* CSS Document */

html {
	min-height: 100%;
}

body {
	background: -moz-radial-gradient(top, circle, #0CF 20%, #006 70%);
	background: -webkit-radial-gradient(top, circle, #0CF 20%, #006 70%);
}




