.jumbotron {
    height: 400px;
    background-image: url(/static/lessons/17.jpg);
    background-size: cover;
    margin-bottom: 20px;
}

a.btn {
    margin-top: 10px;
}

.caption a.btn {
    margin-top: 0;
}

.footer {
    height: 50px;
    color: #9D9D9D;
    text-align: center;
    background-color: #222222;
    padding-top: 15px;
}

.footer a {
    color: #9D9D9D;
}

.footer a:hover {
    color: #FFFFFF;
    text-decoration: none;
}