@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro&subset=latin,latin-ext);
body {
    font-family: 'Source Sans Pro';
    font-size: 0.9em;
    margin: 0;
    background-color: #ecf0f1;
}
.container {
    width: 70%;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}
header {
    height: 50px;
    line-height: 50px;
    background-color: #34495e;
    text-align: center;
    color: white;
}
nav ul {
    margin: 0;
    float: right;
}

nav ul li {
    display: inline-block;
}

nav a {
    text-decoration: none;
    padding: 0 7px;
    color: white;
}

article h2 {
    text-align: center;
    margin-top: 0;
}

aside {
    position: fixed;
    left: 10px;
    top: 45vh;
}

aside i.fa {
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    margin-bottom: 10px;
    color: white;
    display: block;
    background-color: #34495e;
    cursor: pointer;
}

main {
    margin: 20px 0;
}

article {
    background-color: white;
    padding: 5vw;
    box-shadow: 2px 2px .5px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
}

figure {
    margin: 0;
}

figcaption {
    text-align: center;
}

video, figure img {
    width: 100%;
}

footer {
    height: 50px;
    line-height:50px;
    background-color: #34495e;
    text-align: center;
    color: white;
}
