@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: 'ChantelliAntiquaRegular';
    src: url('webfont/Chantelli_Antiqua-webfont.eot');
    src: url('webfont/Chantelli_Antiqua-webfont.eot?#iefix') format('embedded-opentype'),
         url('webfont/Chantelli_Antiqua-webfont.woff') format('woff'),
         url('webfont/Chantelli_Antiqua-webfont.ttf') format('truetype'),
         url('webfont/Chantelli_Antiqua-webfont.svg#ChantelliAntiquaRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
	background-image: url(tlo.png);
	background-repeat: repeat-x;
	background-color: #99ccff;
}

.content {
	width: 960px;
	padding: 20px;
	margin-left: auto;
	margin-right: auto;
	background-color: #FFF;
}

h1, h2, p {
	font-family: ChantelliAntiquaRegular, Verdana, Geneva, sans-serif;
}














