@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Rubik:400,500);

body {
    margin: 0;
    background-color: #FFF;
    font-family: 'Rubik', sans-serif;
}
.container {
    margin: 0 auto;
    width: 700px;
    background: #FFF;
}
header {
    padding: 30px;
    background: url("https://static.pexels.com/photos/414171/pexels-photo-414171.jpeg");
}
header h1 {
    color: #FFF;
    text-align: center;
    text-transform: uppercase;
    font-size: 48px;
}

header p, header h1 {
    text-align: center;
    color: white;
}

h1, h2 {
    font-family: 'Montserrat', sans-serif;
}

section {
    padding: 0 20%;
}

.about {

}

.about h2 {
    margin-top: 60px;
    font-size: 28px;
    color: #2980b9;
}

.interests {

}

.interests h2 {
    margin-top: 40px;
    font-size: 28px;
    color: #27ae60;
}

footer {
    margin-top: 60px;
    padding: 30px;
    background: #333333;
}

footer p {
    text-align: center;
    color: #B0B5C4;
}

footer a {
    text-decoration: none;
    color: #FFC532;
    font-weight: bold;
}



