.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}

.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}

.navbar-wrapper .navbar .container-fluid {
  width: auto;
}

img {
	margin-bottom: 20px;	
}

h2 {
	margin-bottom: 20px;
}

.media img {
	width: 450px;
	height: auto;
}