@charset "utf-8";
/* CSS Document */

body {
	background-image: url(tlo.png);
	background-repeat: repeat-x;
	background-color: #99ccff;
}

.content {
	width: 960px;
	padding: 20px;
	margin-left: auto;
	margin-right: auto;
	background-color: #FFF;
}

a:link {
	font-size: 2em;
	color: #00C;
	text-decoration: none;
}

a:hover {
	color: #09F;
	text-decoration: overline;
}

a:active {
	color: #F00;
}













