body{
	background-color: #222;
	color: white;
}
div div div div {
	float: left;
	padding: 0;
	width: 100px;
	border: white dotted 2px;
	margin: 15px;
	text-align: center;
}
a {
	text-decoration: none;
	color: black;
	display: block;
	background-color: white;
}
.searchText {
	margin: 0 10px;
}