body {
    font-size: 50px;
    text-align: center;
    margin: 0 auto;
    padding: 0;
    background-color: #00C7E8;
    color: oldlace;
}
.button {
    width: 160px;
    height: 80px;
    background-color: #1ab188;
    color: white;
    font-size: 24px;
    font-weight: bold;
}
.button1 {
    width: 120px;
    height: 40px;
    background-color: red;
    color: white;
    font-size: 14px;
    font-weight: bold;
}
ul {
    list-style: none;
}
.mystyle {
    width: 100%;
    padding: 25px;
    background-color: coral;
    color: white;
    font-size: 25px;
}
.democlass {
    color: red;
}
