@charset "utf-8";
/* CSS Document */

body {
	background-image: url(tlo.png);
	background-repeat: repeat-x;
	background-color: #99ccff;
}

div#content {
	width: 960px;
	background-color: #FFF;
	margin-left: auto;
	margin-right: auto;
	padding: 15px;
}

p {
	font-size: 1.2em;
	color: #003;
}

div#box {
	width: 300px;
	background-color: #69F;
	padding: 10px;
	float: left;
	margin: 10px;
}

div#box p {
	font-size: 0.9em;
	color: #633;
}

img {
	float: right;
	margin: 10px;
}

#art2 {
	clear: right;
}










