@charset "utf-8";
/* CSS Document */

body {
	background-image: url(tlo.png);
	background-repeat: repeat-x;
	background-color: #99ccff;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 1em;
	counter-reset: licznik;
}

div#content {
	width: 960px;
	background-color: #FFF;
	margin-left: auto;
	margin-right: auto;
	padding: 15px;
	height: 960px;
}

p:before {
	content: counter(licznik)". ";
	counter-increment: licznik;
	font-size: 1.1em;
	list-style-type: upper-roman;
}













