*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* Define what 1rem is*/
  font-size: 62.5%;               /* .625 * 10px  10/16px */

  //@include respond(phone) {     // Both will apply
  //  font-size: 50%;
  //}

  @include respond(tab-land) {
    font-size: 56.25%;             // 1rem = 9px   8/16 = 50%
  }

  @include respond(tab-port) {
    font-size: 50%;               // 1rem = 8px   8/16 = 50%
  }

  @include respond(big-desktop) {
    font-size: 75%;                // 1rem = 12px 12/16
  }
}

body {
  box-sizing: border-box;        /* Change box model Borders and margins no added */
  padding: 3rem;                 /* Padding 30px entire Body */

  @include respond(tab-port) {
    padding: 0;
  }

}

::selection {
  background-color: $color-primary;
  color: $color-white;
}