@charset "utf-8";
/* CSS Document */

body {
	background-image: url(tlo.png);
	background-repeat: repeat-x;
	background-color: #99ccff;
}

.content {
	width: 960px;
	padding: 20px;
	margin-left: auto;
	margin-right: auto;
	background-color: #FFF;
	border-radius: 20px 40px 60px 80px;
}

#box {
	width: 400px;
	height: 400px;
	border: 2px #000 solid;
	border-radius: 200px;
}








