@charset "utf-8";
/* CSS Document */

body, #content {
	background-color: #FFF;
	color: #000;
	margin: 0;
	width: 100%;
	font-family: Georgia, "Times New Roman", Times, serif;
}

#nawigacja {
	display: none;
}