* {
    box-sizing: border-box;
}
body {
    background-color: cornsilk;
}
.row:before,
.row:after {
	content:"";
	display: table ;
	clear: both;
 }
#carousel {
    max-width: 400px;
    height: 300px;
    margin: 0 auto;
    overflow: hidden;
}
ul {
    width: 2000px;
    padding: 0;
    margin: 0;
}
li {
    width: 400px;
    height: 300px;
    list-style: none;
    display: inline;

}
img {
    float: left;
    width: 400px;
    height: 300px;
}
#buttons {
    position: relative;
}
.fa {
    font-size: 30px;
    color: aliceblue
}
.fa-chevron-left {
    position: absolute;
    top: 150px;
    left: 15px;
} 
.fa-chevron-right {
    position: absolute;
    top: 150px;
    right: 15px;
} 
.indicators {
    list-style: circle;
    display: block;
    position: absolute;
    top: 350px;
    left: 40px;
    right: 40px;
    transform: rotate(90deg);
    
}
.indicators li {
    font-size: 34px;
    line-height: 18px;
    color: lawngreen;
}