* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font: normal 16px sans-serif;
  color: #555;
}

ul, nav {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  opacity: 0.9;
  &:hover {
    opacity: 1;
  }
  &.btn {
    color: #fff;
    border-radius: 4px;
    text-transform: uppercase;
    background-color: #2196F3;
    font-weight: 800;
    text-align: center;
  }
}

hr {
  width: 150px;
  height: 2px;
  background-color: #2196F3;
  border: 0;
  margin-bottom: 80px;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 125px 100px;
  h3.title {
    color: #414a4f;
    text-transform: capitalize;
    font: bold 32px 'Open Sans', sans-serif;
    margin-bottom: 35px;
    text-align: center;
  }
  p {
    max-width: 800px;
    text-align: center;
    margin-bottom: 35px;
    padding: 0 20px;
    line-height: 2;
  }
}

@media (max-width: 1000px) {
  section {
    padding: 100px 50px;
  }
}

@media (max-width: 600px) {
  section {
    padding: 80px 30px;
  }
}

ul.grid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/*-------------
 	Header
-------------*/

header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding: 35px 100px 0;
  h2 {
    font-family: 'Quicksand', sans-serif;
  }
  nav {
    display: flex;
    li {
      margin: 0 15px;
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

@media (max-width: 1000px) {
  header {
    padding: 20px 50px;
  }
}

@media (max-width: 700px) {
  header {
    flex-direction: column;
    h2 {
      margin-bottom: 15px;
    }
  }
}

/*----------------
 	Hero Sekcja
----------------*/

.hero {
  position: relative;
  justify-content: center;
  min-height: 100vh;
  color: #fff;
  text-align: center;
  .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-color: #2196F3;
    z-index: -1;
    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #414a4f;
      opacity: 0.75;
    }
  }
  h1 {
    font: bold 60px 'Open Sans', sans-serif;
    margin-bottom: 15px;
  }
  h3 {
    font: normal 28px 'Open Sans', sans-serif;
    margin-bottom: 40px;
  }
  a.btn {
    padding: 20px 46px;
  }
}

@media (max-width: 800px) {
  .hero {
    min-height: 600px;
    h1 {
      font-size: 48px;
    }
    h3 {
      font-size: 24px;
    }
    a.btn {
      padding: 15px 40px;
    }
  }
}

/*--------------------
 	Moje prace
---------------------*/

.my-work {
  background-color: #fff;
  .grid li {
    padding: 20px;
    height: 350px;
    border-radius: 3px;
    background-clip: content-box;
    background-size: cover;
    background-position: center;
    background-color: #333;
    &.small {
      flex-basis: 40%;
    }
    &.large {
      flex-basis: 60%;
    }
  }
}

@media (max-width: 1000px) {
  .my-work .grid li {
    &.small, &.large {
      flex-basis: 100%;
    }
  }
}

/*----------------------
 	Features
----------------------*/

.features {
  background-color: #f7f7f7;
  .grid li {
    padding: 0 30px;
    flex-basis: 33%;
    text-align: center;
    i {
      font-size: 50px;
      color: #2196F3;
      margin-bottom: 25px;
    }
    h4 {
      color: #555;
      font-size: 20px;
      margin-bottom: 25px;
    }
    p {
      font-size: 14px;
      margin: 0;
    }
  }
}

@media (max-width: 1000px) {
  .features .grid li {
    flex-basis: 70%;
    margin-bottom: 65px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

@media (max-width: 600px) {
  .features .grid li {
    flex-basis: 100%;
  }
}

/*--------------------
 	Reviews
--------------------*/

.reviews {
  background-color: #fff;
  .quote {
    text-align: center;
    width: 80%;
    font-size: 22px;
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 20px;
    padding: 0;
  }
  .author {
    font-size: 18px;
    margin-bottom: 50px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

@media (max-width: 1000px) {
  .reviews {
    .quote {
      font-size: 20px;
    }
    .author {
      font-size: 16px;
    }
  }
}

/*---------------------
 	Kontakt
---------------------*/

.contact {
  background-color: #f7f7f7;
  form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 800px;
    width: 80%;
    input {
      padding: 15px;
      flex: 1;
      margin-right: 30px;
      font-size: 18px;
      color: #555;
    }
    .btn {
      padding: 18px 42px;
    }
  }
}

@media (max-width: 800px) {
  .contact form input {
    flex-basis: 100%;
    margin: 0 0 20px 0;
  }
}

/*-------------
 	Stopka
-------------*/

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #fff;
  background-color: #414a4f;
  padding: 60px 0;
  ul {
    display: flex;
    margin-bottom: 25px;
    font-size: 32px;
    li {
      margin: 0 8px;
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
  p {
    text-transform: uppercase;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 10px;
    a {
      color: #fff;
    }
  }
}

@media (max-width: 700px) {
  footer {
    padding: 80px 15px;
  }
}