@charset "utf-8";
/* CSS Document */

body {
	background-image: url(tlo.png);
	background-repeat: repeat-x;
	background-color: #99ccff;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 1.1em;
}

div#content {
	width: 960px;
	background-color: #FFF;
	margin-left: auto;
	margin-right: auto;
	padding: 15px;
}

div#box {
	width: 400px;
	height: 300px;
	background-color: #F93;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 100px;
	margin-top: 100px;
	box-shadow: 0px 0px 25px #000, 0px 0px 45px #F00, 0px 0px 65px #09C;
}













