* {outline: none !important; box-sizing: border-box;}
body {
	background-color: #EC644B;
    font-family: 'Open Sans', sans-serif;	
    margin: 0;
}
.hero {
    background: url('/static/lessons/red-forest.jpg')  0/cover no-repeat;
    height: 200px;
    text-align: center;
    line-height: 160px;
    color: #fff;
}
.container {
    width: 80%;
	max-width: 700px;
	margin: 20px auto;
	border-radius: 4px;
	background-color: #fff;
	padding: 20px;
}
.container a {
	color: blue;
	display: block;
	width: 250px;
	padding: 0;
	margin-bottom: 5px;
}
a {
	padding: 10px;
	color: #fff;
	text-decoration: none;
	display: inline-block;
}
a:hover {
	text-decoration: underline;	
}
input, textarea {
	display: block;
	width: 100%;
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 5px 10px;
    margin-bottom: 10px;
    resize: none;
}
button, textarea:focus {
	border: 1px solid #F22613;
}
button {
	background-color: #F22613;
	color: #fff;
	padding: 10px 15px;
	border-radius: 4px;
	font-weight: 700;
}
.nav, .footer {
	background-color: #CF000F;
	text-align: center;
	color: #fff;
}
.footer, h1 {
    margin: 0;
    padding: 20px;
}
button:hover, .nav a:hover {
	background-color: #EC644B;
	text-decoration: none;
}
button:active {
    background-color: #CF000F;
}

input:focus {
	border: 1px solid #F22613;	
}