@charset "utf-8";
/* CSS Document */

body {
	background-image: url(tlo.png);
	background-repeat: repeat-x;
	background-color: #99ccff;
}

div#content {
	width: 960px;
	background-color: #FFF;
	margin-left: auto;
	margin-right: auto;
}

div.prost {
	width: 400px;
	height: 200px; 
}

div#czerwony {
	background-color: #F00;
	position: absolute;
	top: 50px;
	left: 500px;
	z-index: 2;
}

div#zielony {
	background-color: #0F0;
	position: absolute;
	top: 100px;
	left: 550px;
	z-index: 1;
}

div#zolty {
	background-color: #FF0;
	position: absolute;
	top: 150px;
	left: 600px;
	z-index: 0;
}

p {
	font-size: 1.2em;
	margin: 10px 10px;
	color: #999;
}











