@import url(https://fonts.googleapis.com/css?family=Open+Sans);
* {
    box-sizing: border-box;
}
body {
    padding: 0;
    margin: 0;
    background-color: #2980b9;
    font-family: 'Open Sans', sans-serif;
}
h1 {
    margin: 0;
    color: #fff;
    text-align: center;
    padding: 50px;
    font-size: 200%;
    text-shadow: 1px 1px 1px #000;
}
.hero {
    background: url('/static/lessons/13.jpg') center;
    background-size: cover;
    min-height: 150px;
    box-shadow: 1px 1px 3px #000;
}
.container {
    width: 80%;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    box-shadow: 2px 2px 10px #000;
    text-align: center;
}
.example,
.exercise {
    padding-bottom: 20px;
}
.example button {
    padding: 20px;
    border: none;
    outline: none;
    background-color: #2980b9;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    transition-duration: 0.5s;
}
.example button:nth-of-type(1):hover {
    font-size: 120%;
}
.example button:nth-of-type(2):hover {
    background-color: green;
}
.example button:nth-of-type(3):hover {
    padding: 25px;
    font-size: 120%;
    background-color: green;
}
/*EXERCISE*/

.practice-button {
    cursor: pointer;
    padding: 20px;
    outline: none;
    border: 2px solid #8e44ad;
    text-transform: uppercase;
    color: #8e44ad;
    font-weight: bold;
    background-color: transparent;
    transition-duration: 0.5s;
    transition-property: padding, font-size;
}
.practice-button:hover {
    background-color: #8e44ad;
    color: #fff;
    padding: 30px;
    font-size: 120%;
}