@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic);
@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900&subset=latin-ext');

* {
  box-sizing: border-box;  /*Tego nie czaję dokońca metody wyliczania*/
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  background-color: #ecf0f1;
  margin: 0;
}

h1 {
  font-size: 2rem;
  font-weight: 900;
}

h2 {

}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.row:before,
.row:after {
    content: " "; 
    display: table;
    clear: both;
}

header {
  background-color: #313234;
  height: 50px;
  background-color: rgba(0.0.0 0.5)
}

header > nav img {
  padding: 10px 0;
}

header > nav ul {
  float: right;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
header > nav ul > li {
  display:inline-block;
}

header > nav ul > li > a {
  line-height: 50px;
  display: block;
  color: #fff;
  padding: 0 20px;
  text-decoration: none;
  text-transform: uppercase;
}

header > nav ul > li > a:hover {
  background: #ccc;
}



.hero {
  background-image: url("https://images.unsplash.com/photo-1504274013783-e99991dac2c6?dpr=1&auto=format&fit=crop&w=2850&q=60&cs=tinysrgb");
  background-size: cover;
  background-position:  center;
  height: 60vh;
}

.hero h1, h2 {
  color:white;
  margin: 0;
  font-size: 38px;
  padding: 10px;
}

.slogan {
	float: right;
	max-width: 800px;
	background-color: rgba(25,36,49,0.7);
	margin: 170px 0;
  padding: 30px 200px 30px 30px;
  text-transform: uppercase;
}

.slogan h1 {
  font-weight: 700; 
  
}

.slogan h2 {
  font-weight: 200; 
}

/*======================= GALLERY =================================*/

/*gallery */
.gallery [class*="col-"] {
  padding: 0; }

.gallery img {
  width: 100%;
  height: 400px;
  display: block;
  object-fit: cover; }

.layer {
  position: absolute;
  width: inherit;
  height: 400px;
  line-height: 400px;
  text-align: center; }
  .layer i.fa {
    background-color: #fff;
    font-size: 25px;
    border-radius: 10px;
    padding: 10px;
    margin: 10px auto;
    visibility: hidden; }
  .layer:hover {
    background-color: rgba(0, 0, 0, 0.5);
    transition-duration: 0.6s;
    cursor: pointer; }
  .layer:hover i.fa {
    visibility: visible; }


/*======================= PEOPLE =================================*/

/*team */
.team [class*="col-"] {
  padding: 10px; }

.circle {
  position: relative;
  height: 240px;
  width: 240px;
  margin: 0 auto; }

.team img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover; }
.team h2 {
  text-align: center;
  margin-top: 10px; }

.circle-layer {
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 240px;
  text-align: center;
  border-radius: 50%;
  color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center; }
  .circle-layer:hover {
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition-duration: 0.6s; }
  .circle-layer:hover h3 {
    visibility: visible; }
  .circle-layer h3 {
    visibility: hidden;
    font-size: 25px; }


/*======================= TABLET =================================*/
.picture [class*="col-"] {
  padding: 10px; }

.picture {
  width: 100%;
  max-height: 500px;
  padding: 20px;
  display: block;
  overflow: hidden; }
  .picture img {
    width: 100%; }
  .picture h1 {
    text-align: left;
    text-transform: uppercase;
    color: #FFF;
    padding: 10px 0 0 30px;
    font-size: 45px; }
  .picture p {
    color: #FFF;
    text-align: left;
    padding: 0px 50px 10px 20px; }

/*======================= NUMBERS =================================*/
.numbers h1 {
  font-size: 45px;
  font-weight: 900;
  font-family: "Raleway", sans-serif; }
.numbers h4 {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px; }

/*======================= CONTACT =================================*/
.contact [class*="col-"] {
  padding: 10px; }

.contact {
  float: left;
  width: 100%;
  color: #fff;
  display: block;
  position: center; 
  background-color: #2d3031;
  }
  .contact p {
    text-align: left; }
  .contact h3 {
    text-align: left;
    padding: 35px 10px;
    font-size: 32px;
    font-weight: 900;
    text-transform: uppercase; }
  .contact h3::after {
    padding-left: 10px;
    letter-spacing: -2px;
    content: "------------";
    color: #fff; }

footer {
  background-color: #1D1F20;
  color: #FFF;
  font-size: 18px;
  font-family: 'Lato', sans-serif;
  font-weight: 300; 
  line-height: 60px;
  text-align: center;
}

.social i {
  text-align: center;
  font-size: 20px;
  height: 40px;
  width: 40px;
  border-radius: 10%; 
}

.social i.fa {
  color: #fff;
  padding: 10px;
  margin: 20px 15px 0 0;
  float: none; }
  .social i.fa:hover {
    transition-duration: 0.4s;
    cursor: pointer; 
  }

.background-color1, header, .benefits i.fa, .picture, .contact {
  background-color: #313234; 
}

.menu > li > a:hover, .social i.fa {
  background-color: #5A5A5C; 
}

.background-color3, .social i.fa:hover {
  background-color: #00C7E8; 
}

.color2, .feature p, .team h2 {
  color: #5A5A5C; }

.color3, .menu > li > a:hover, .numbers h4 {
  color: #00C7E8; }

/*======================= GRID =================================*/

[class*='col-'] {
	float: left;
	Min-height: 1px;
	padding: 12px;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.col-offset-0 {margin-left: 0;}
.col-offset-1 {margin-left: 8.33%;}
.col-offset-2 {margin-left: 16.66%;}
.col-offset-3 {margin-left: 25%;}
.col-offset-4 {margin-left: 33.33%;}
.col-offset-5 {margin-left: 41.66%;}
.col-offset-6 {margin-left: 50%;}
.col-offset-7 {margin-left: 58.33%;}
.col-offset-8 {margin-left: 66.66%;}
.col-offset-9 {margin-left: 75%;}
.col-offset-10 {margin-left: 83.33%;}
.col-offset-11 {margin-left: 91.66%;}