@charset "utf-8";
/* CSS Document */

body {
	background-image: url(tlo.png);
	background-repeat: repeat-x;
	background-color: #99ccff;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 1em;
}

div#content {
	width: 960px;
	background-color: #FFF;
	margin-left: auto;
	margin-right: auto;
	padding: 15px;
}



form {
	width: 500px;
	border: 1px solid #333;
	background-color: #CCC;
	padding: 10px;
}

label {
	display: block;
	width: 3em;
	float: left;
	text-align: right;
}

input {
	margin-left: 4em;
}

:disabled {
	border: 2px solid #900;
}

:enabled {
	border: 2px solid #FC3;
}




















