@charset "utf-8";
/* CSS Document */

body {
	background-image: url(tlo.png);
	background-repeat: repeat-x;
	background-color: #99ccff;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 1.1em;
}

div#content {
	width: 960px;
	background-color: #FFF;
	margin-left: auto;
	margin-right: auto;
	padding: 15px;
	height: 900px;
}

img {
	-webkit-box-reflect: below 0px -webkit-gradient(linear, center top, center bottom, from(transparent), to(white));
}











