@charset "utf-8";
/* CSS Document */

body {
	background-image: url(tlo_1.png), url(tlo_2.png);
	background-repeat: repeat-x, no-repeat;
	background-attachment: fixed, fixed;
	background-position: top left, bottom left;
}


