body {
	background-color: #3498db;
    font-family: 'Open Sans', sans-serif;	
    margin: 0;
}
.hero {
    height: 400px;
    line-height: 360px;
    background: red url(/static/lessons/blue-mountain.jpg) 0/cover no-repeat fixed;
}
.container {
    width: 80%;
	max-width: 700px;
	margin: 20px auto;
	border-radius: 4px;
	background-color: #fff;
	padding: 20px;
}
.nav {
	text-align: center;
	background: #3498db;
}
a {
	padding: 10px;
	color: #fff;
	text-decoration: none;
	display: inline-block;
}
a:hover {
	color: #2980b9;
}
h1, .footer {
	text-align: center;	
    color: #fff;
    margin: 0;
    padding: 20px;
}
.footer {
    background: #2980b9;
}