@charset "utf-8";
/* CSS Document */

div {
	width: 100%;
	height: 250px;
}

.div1 {
	background-color: hsl(0,50%,50%);
	opacity: 0.4;
}

.div2 {
	background-color: hsl(0,50%,50%);
	opacity: 0.2;
}




