@import url("https://meyerweb.com/eric/tools/css/reset/reset.css");
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic);
@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900&subset=latin-ext');

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  background-color: #ecf0f1;

}

.row:before,
.row:after {
    content: " "; 
    display: table;
    clear: both;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

.background-color1, header, .benefits i.fa, .picture, .contact {
  background-color: #313234; 
}

.background-color2, .menu > li > a:hover, .social i.fa {
  background-color: #5A5A5C; }

.background-color3,  .benefits .benefits-col:hover i, .social i.fa:hover {
  background-color: #00C7E8; 
}

.color1, .benefits a, .feature h1 {
  color: #313234; }

.color2, .feature p, .team h2 {
  color: #5A5A5C; }

.color3, .menu > li > a:hover, .numbers h4 {
  color: #00C7E8; }

h1 {
  font-size: 2rem;
  font-weight: 900;
}

header {
  width: 100%;
  position: fixed;
  z-index: 1000; 
}

header > nav img {
  padding: 13px 0; 
}

.menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
  float: right; }

.menu > li {
    display: inline-block; 
}

.menu > li > a {
      display: block;
      line-height: 80px;
      padding: 0 13px;
      color: #fff;
      font-size: 100%;
      text-decoration: none;
      text-transform: uppercase; 
}

.menu > li > a:hover {
  transition-duration: 0.4s; 
}

.hero {
  width: 100%;
  height: 100vh;
  background: url(https://images.unsplash.com/photo-1454922069690-ed3f6fcddb2b?auto=format&fit=crop&w=1567&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D) no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: flex-end;
  align-items: center; }


.hero h1, h2 {
  color:white;
  margin: 0;
  font-size: 38px;
  padding: 10px;
}

.slogan {
	float: right;
	max-width: 100%;
	background-color: rgba(25,36,49,0.7);
	margin: 170px 0;
  padding: 30px 200px 30px 30px;
  text-transform: uppercase;
  line-height: 200%;
}

.slogan h1 {
  font-weight: 700; 
  font-size: 2.5rem;
}

.slogan h2 {
  font-weight: 200; 
}

[class*='col-'] {
  float: left;
  Min-height: 1px;
  padding: 15px;
}

section > .container {
  margin: 50px auto;
  text-align: center; 
}

/*======================= BENEFITS =================================*/
.benefits i.fa {
  font-size: 80px;
  padding: 25px;
  color: #fff;
  border-radius: 10px;
  margin-bottom: 20px; }
.benefits a {
  text-decoration: none;
  text-transform: uppercase; }
.benefits p {
  color: #5A5A5C;
  padding: 30px; }
.benefits .benefits1:hover h3 {
  transition-duration: 0.4s;
  cursor: pointer; }
.benefits .benefits1:hover i {
  transition-duration: 0.4s;
  cursor: pointer; }

.feature h1 {
  text-transform: uppercase;
  font-size: 40px;
  font-weight: bold;
  text-align: center; 
  padding-bottom: 20px;
}
.feature p {
  font-size: 18px;
  margin-bottom: 40px;
  text-align: center; }

/*======================= GALLERY =================================*/

/*gallery */
.gallery [class*="col-"] {
  padding: 0; }

.gallery img {
  width: 100%;
  height: 400px;
  display: block;
  object-fit: cover; }

.layer {
  position: absolute;
  width: inherit;
  height: 400px;
  line-height: 400px;
  text-align: center; }
  .layer i.fa {
    background-color: #fff;
    font-size: 25px;
    border-radius: 10px;
    padding: 10px;
    margin: 10px auto;
    visibility: hidden; }
  .layer:hover {
    background-color: rgba(0, 0, 0, 0.5);
    transition-duration: 0.6s;
    cursor: pointer; }
  .layer:hover i.fa {
    visibility: visible; }


/*======================= PEOPLE =================================*/

/*team */
.team [class*="col-"] {
  padding: 10px; }

.circle {
  position: relative;
  height: 240px;
  width: 240px;
  margin-top: 15px;
  margin: 0 auto; }

.team img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover; }
.team h2 {
  text-align: center;
  margin-top: 10px; }

.circle-layer {
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 240px;
  text-align: center;
  border-radius: 50%;
  color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center; }
  .circle-layer:hover {
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition-duration: 0.6s; }
  .circle-layer:hover h3 {
    visibility: visible; }
  .circle-layer h3 {
    visibility: hidden;
    font-size: 25px; }


/*======================= TABLET =================================*/
.picture [class*="col-"] {
  padding: 10px; }

.picture {
  width: 100%;
  max-height: 500px;
  padding: 20px;
  display: block;
  overflow: hidden; }
  .picture img {
    width: 100%; }
  .picture h1 {
    text-align: left;
    text-transform: uppercase;
    color: #FFF;
    padding: 10px 0 0 30px;
    font-size: 45px; }
  .picture p {
    color: #FFF;
    text-align: left;
    padding: 0px 50px 10px 20px; }

/*======================= NUMBERS =================================*/
.numbers h1 {
  font-size: 45px;
  font-weight: 900;
  font-family: "Raleway", sans-serif; }
.numbers h4 {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px; }

/*======================= CONTACT =================================*/
.contact [class*="col-"] {
  padding: 10px; }

.contact {
  float: left;
  width: 100%;
  color: #fff;
  display: block;
  position: center; 
  background-color: #2d3031;
  }
  .contact p {
    text-align: left; }
  .contact h3 {
    text-align: left;
    padding: 35px 10px;
    font-size: 32px;
    font-weight: 900;
    text-transform: uppercase; }
  .contact h3::after {
    padding-left: 10px;
    letter-spacing: -2px;
    content: "------------";
    color: #fff; }

footer {
  background-color: #1D1F20;
  color: #FFF;
  font-size: 18px;
  font-family: 'Lato', sans-serif;
  font-weight: 300; 
  line-height: 60px;
  text-align: center;
}

.social i {
  text-align: center;
  font-size: 20px;
  height: 40px;
  width: 40px;
  border-radius: 10%; 
}

.social i.fa {
  color: #fff;
  padding: 10px;
  margin: 20px 15px 0 0;
  float: none; }
  .social i.fa:hover {
    transition-duration: 0.4s;
    cursor: pointer; 
  }

.menu > li > a:hover, .social i.fa {
  background-color: #5A5A5C; 
}

}

/*======================= GRID =================================*/

.col-lg-0 { width: 0%; }
.col-lg-1 { width: 8.33333%; }
.col-lg-2 { width: 16.66667%; }
.col-lg-3 { width: 25%; }
.col-lg-4 { width: 33.33333%; }
.col-lg-5 { width: 41.66667%; }
.col-lg-6 { width: 50%; }
.col-lg-7 { width: 58.33333%; }
.col-lg-8 { width: 66.66667%; }
.col-lg-9 { width: 75%; }
.col-lg-10 { width: 83.33333%; }
.col-lg-11 { width: 91.66667%; }
.col-lg-12 { width: 100%; }

.col-offset-lg-0 { margin-left: 0%; }
.col-offset-lg-1 { margin-left: 8.33333%; }
.col-offset-lg-2 { margin-left: 16.66667%; }
.col-offset-lg-3 { margin-left: 25%; }
.col-offset-lg-4 { margin-left: 33.33333%; }
.col-offset-lg-5 { margin-left: 41.66667%; }
.col-offset-lg-6 { margin-left: 50%; }
.col-offset-lg-7 { margin-left: 58.33333%; }
.col-offset-lg-8 { margin-left: 66.66667%; }
.col-offset-lg-9 { margin-left: 75%; }
.col-offset-lg-10 { margin-left: 83.33333%; }
.col-offset-lg-11 { margin-left: 91.66667%; }
.col-offset-lg-12 { margin-left: 100%; }

@media (min-width: 768px) and (max-width: 1200px) {
 
  .col-offset-md-0 { margin-left: 0%; } 
  .col-offset-md-1 { margin-left: 8.33333%; }
  .col-offset-md-2 { margin-left: 16.66667%; }
  .col-offset-md-3 { margin-left: 25%; }
  .col-offset-md-4 { margin-left: 33.33333%; } 
  .col-offset-md-5 { margin-left: 41.66667%; }
  .col-offset-md-6 { margin-left: 50%; }
  .col-offset-md-7 { margin-left: 58.33333%; } 
  .col-offset-md-8 { margin-left: 66.66667%; } 
  .col-offset-md-9 { margin-left: 75%; } 
  .col-offset-md-10 { margin-left: 83.33333%; } 
  .col-offset-md-11 { margin-left: 91.66667%; } 
  .col-offset-md-12 { margin-left: 100%; } 

  .col-md-0 { width: 0%; }
  .col-md-1 { width: 8.33333%; }
  .col-md-2 { width: 16.66667%; }
  .col-md-3 { width: 25%; }
  .col-md-4 { width: 33.33333%; }
  .col-md-5 { width: 41.66667%; }
  .col-md-6 { width: 50%; }
  .col-md-7 { width: 58.33333%; }
  .col-md-8 { width: 66.66667%; }
  .col-md-9 { width: 75%; }
  .col-md-10 { width: 83.33333%; }
  .col-md-11 { width: 91.66667%; }
  .col-md-12 { width: 100%; }

    /*picture medium */
  .picture {
    width: 100%;
    height: 100%;
    overflow: hidden;
    max-height: 100%;
    padding: 0;
    /*contact - medium */ }
    .picture img {
      width: 80%; }
    .picture h1 {
      text-align: center;
      padding: 5px;
      font-size: 30px; }
    .picture p {
      text-align: left;
      padding: 5px;
      font-size: 90%; }

  .contact h3 {
    text-align: center;
    padding: 10px;
    font-size: 20px; }
  .contact p, .contact h4 {
    text-align: center;
    font-size: 90%; }
  .contact h3::after {
    content: "-------";
    padding-left: 10px;
    letter-spacing: -2px; }
  .contact h3::before {
    content: "-------";
    padding-right: 10px;
    letter-spacing: -2px; 
  } 
}


@media (max-width: 767px) {
  .col-offset-sm-0 { margin-left: 0%; } 
  .col-offset-sm-1 { margin-left: 8.33333%; }
  .col-offset-sm-2 { margin-left: 16.66667%; }
  .col-offset-sm-3 { margin-left: 25%; }
  .col-offset-sm-4 { margin-left: 33.33333%; } 
  .col-offset-sm-5 { margin-left: 41.66667%; }
  .col-offset-sm-6 { margin-left: 50%; }
  .col-offset-sm-7 { margin-left: 58.33333%; } 
  .col-offset-sm-8 { margin-left: 66.66667%; } 
  .col-offset-sm-9 { margin-left: 75%; } 
  .col-offset-sm-10 { margin-left: 83.33333%; } 
  .col-offset-sm-11 { margin-left: 91.66667%; } 
  .col-offset-sm-12 { margin-left: 100%; } 


  .col-sm-0 { width: 0%; }
  .col-sm-1 { width: 8.33333%; }
  .col-sm-2 { width: 16.66667%; }
  .col-sm-3 { width: 25%; }
  .col-sm-4 { width: 33.33333%; }
  .col-sm-5 { width: 41.66667%; }
  .col-sm-6 { width: 50%; }
  .col-sm-7 { width: 58.33333%; }
  .col-sm-8 { width: 66.66667%; }
  .col-sm-9 { width: 75%; }
  .col-sm-10 { width: 83.33333%; }
  .col-sm-11 { width: 91.66667%; }
  .col-sm-12 { width: 100%; }


   /* navi small */
  header {
    /*width: 100%; */
    position: relative; 
  }
    header > nav img {
      display: block;
      margin: 0 auto; }


  .menu {
    float: none;
    text-align: center; 
  }
    .menu > li {
      display: block; 
    }
      .menu > li > a {
        line-height: 40px;
        font-size: 90%; 
      }

  .hero {
    height: 60vw; 
  }

  .slogan {
    float: none;
    padding: 2%;
    margin: 10px auto;
    text-align: center;
    font-size: 50%;
    background-color: rgba(0, 0, 0, 0.6);
    /*team small */ }
    .slogan h1, .slogan h2 {
      font-size: 1.5rem; 
    }

  .layer i.fa {
    visibility: visible; 
  }

  .circle-layer h3 {
    visibility: visible;
    /*picture small */ 
  }

  .picture {
    width: 100%;
    height: 100%;
    overflow: visible;
    max-height: 100%;
    padding: 0;
    
    /*contact small */ }
    .picture img {
      width: 25%; 
    }
    .picture h1 {
      text-align: center;
      padding: 5px;
      font-size: 30px; 
    }
    .picture p {
      text-align: center;
      padding: 5px;
      font-size: 90%; 
    }

  .contact h3 {
    text-align: center;
    padding: 10px;
    font-size: 25px; 
  }
  .contact h3::after {
    content: "-------";
    padding-left: 10px;
    letter-spacing: -2px; 
  }
  .contact h3::before {
    content: "-------";
    padding-right: 10px;
    letter-spacing: -2px; 
  }
  .contact p {
    text-align: center; 
  }
  .contact h4 {
    text-align: right; 
  }

}

@media (max-width: 425px) {
.col-xs-1 {width: 8.33%;}
.col-xs-2 {width: 16.66%;}
.col-xs-3 {width: 25%;}
.col-xs-4 {width: 33.33%;}
.col-xs-5 {width: 41.66%;}
.col-xs-6 {width: 50%;}
.col-xs-7 {width: 58.33%;}
.col-xs-8 {width: 66.66%;}
.col-xs-9 {width: 75%;}
.col-xs-10 {width: 83.33%;}
.col-xs-11 {width: 91.66%;}
.col-xs-12 {width: 100%;}

header > nav img {
  display: none;
}

.hero {
    height: 60vw; 
  }

  .slogan {
    float: none;
    padding: 3%;
    margin: 5px auto;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
    /*team small */ }
    .slogan h1, .slogan h2 {
      font-size: 1.2rem; 
    }

}


  
