.container {
    padding: 10px 0;
}
.btn {
    margin: 5px;
}
.btn-default {
    padding: 10px;
    margin: 20px;
}
#js-resultsTableElement {
    width: 75%;
    padding-top: 40px;
    text-align: center;

}
