@charset "utf-8";
/* CSS Document */

body {
	background-image: url(tlo.png);
	background-repeat: repeat-x;
	background-color: #99ccff;
}

.content {
	width: 960px;
	padding: 20px;
	margin-left: auto;
	margin-right: auto;
	background-color: #FFF;
}

h1 {
	letter-spacing: -0.05em;
}

h2 {
	letter-spacing: 0.2em;
}

p {
	line-height: 200%;
}










