@charset "utf-8";
/* CSS Document */

body {
	background-image: url(tlo_1.png);
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.content {
	width: 960px;
	padding: 20px;
	margin-left: auto;
	margin-right: auto;
	background-color: #FFF;
}

.content p {
	font-size: 1.1em;
}



