@charset "utf-8";
/* CSS Document */

body {
	margin: 0px;
}

p {
	width: 700px;
	color: #900;
	font-size: 1.1em;
	text-align: justify;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
	border: solid #000 2px;
}








