@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
    margin: 0;
    background-color: #2ecc71;
    font-family: 'Open Sans';
}

.container {
	max-width: 650px;
	min-width: 350px;
	width: 70%;
	margin: 15px auto;
	text-align: justify;
	background-color: white;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 1px 1px 1px 1px black;
}

nav {
	background-color: #222;
	color: #FFF;
	margin-bottom: 40px;
	box-shadow: 0px 0px 1px 1px black;
}

nav ul {
	margin: 0;
	padding: 0;
}

nav ul li {
	display: inline-block;	
}

.container:last-child > p:nth-of-type(1) {
	font-style: italic;
}

.container:last-child > p:nth-of-type(2) {
	text-transform: uppercase;	
}

nav a {
	display: inline-block;
	min-width: 120px;
	box-sizing: border-box;
	padding: 20px;
	text-align: center;
	text-decoration: none;
	color: #FFF;
	cursor: pointer;
}

nav ul li a:hover {
	background-color: #53555D;	
}

table {
	width: 100%;
	border-collapse: collapse;
	text-align: center;
}

table td, th {
	padding: 10px;
}

table thead {
	background-color: #4D71FA;
}

table tr {
	border-bottom: 1px solid #E6E6E7;	
}

table tr:last-child {
	border-bottom: none;	
}

table tbody tr:hover  {
	background-color:#E6E6E7;
}