@charset "utf-8";
/* CSS Document */

body {
	background-image: url(tlo.png);
	background-repeat: repeat-x;
	background-color: #99ccff;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 1em;
}

div#content {
	width: 960px;
	background-color: #FFF;
	margin-left: auto;
	margin-right: auto;
	padding: 15px;
}

a {
	display: block;
	font-size: 1.2em;
	margin-top: 10px;
	padding-left: 24px;
	background: url(ikony.png) no-repeat 0 0;
}

a:hover {
	background-position: 0 -40px;
}














