@import 'https://fonts.googleapis.com/css?family=Oswald:300,400,700&subset=latin-ext';
@import 'https://fonts.googleapis.com/css?family=Montserrat:400,700';

* {
	box-sizing: border-box;
}

[class*="col-"] {
	float: left;
	min-height: 1px;
	padding: 50px;
}

body {
	margin: 0;
	font-family: 'Montserrat';
}

.row:before,
.row:after {
	content: "";
	display: table;
	clear: both;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

header>nav>img {
	padding: 35px 0;
	width: 200px;
	margin-left: 20px;
}

header {
	background-color: #fff;
	height: 100px;
}

header>nav>ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	float: right;
	clear: both;
}

header>nav>ul>li {
	display: inline-block;
}

header>nav>ul>li>a:hover {
	color: #004eff;
}

header>nav>ul>li>a {
	font-family: 'Oswald';
	letter-spacing: 2px;
	font-size: 1em;
	font-weight: 300;
	line-height: 100px;
	padding: 0 20px;
	color: #434343;
	text-decoration: none;
	text-transform: uppercase;
}

.jumbotron {
	width: 100%;
	height: 100vh;
	background-image: url('https://images.unsplash.com/photo-1472289065668-ce650ac443d2?auto=format&fit=crop&w=1650&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D');
	background-position: 50%;
	background-size: cover;
}

.jumbo-text {
	position: absolute;
	top: 40vh;
	left: 50vh;
}

.jumbotron h2 {
	font-size: 80px;
	font-weight: 700;
	color: #434343;
}

.jumbotron p {
	font-size: 30px;
	font-weight: 400;
	color: #434343;
}

.gallery {
	width: 100%;
	text-align: center;
	float: left;
	clear: both;
}

.images img {
	max-width: 100%;
	height: auto;
}

.images img:hover {
	opacity: 0.4;
	cursor: pointer;
	transition: ease-in-out .3s;
}

.images h2 {
	color: #434343;
}
.images p {
	font-size: 14px;
	color: #a9a9a9;
}

.google-map {
	clear: both;
	width: 100%;
	height: 400px;
}
.map {
	margin: 0;
}

footer {
	background-color: #313332;
	width: 100%;
}
.data {
	padding: 0;
}
.about, .touch, .social {
	font-size: 25px;
	color: #fff;
	font-weight: 900;
	text-transform: uppercase;
}
footer p {
	color: #fff;
	line-height: 20px;
	font-size: 14px;
}
.left-data {
	font-weight: 700;
}
.social-icons .fa {
	display: inline-block;
	margin: 5px;
	border-radius: 50%;
	line-height: 35px;
	font-size: 20px;
	width: 35px;
	height: 35px;
	color: #434343;
	background-color: #459ce4;
	text-align: center;
}
.social-icons .fa:hover {
	background-color: #fff;
	color: #434343;
	cursor: pointer;
	transition: ease-in-out .3s;
}


.col-img {width: 20%}
.col-img-w {width: 40%}
.col-lg-x {width: 12.5%}
.col-lg-1 {width: 8.33%;}
.col-lg-2 {width: 16.66%;}
.col-lg-3 {width: 25%;}
.col-lg-4 {width: 33.33%;}
.col-lg-5 {width: 41.66%;}
.col-lg-6 {width: 50%;}
.col-lg-7 {width: 58.33%;}
.col-lg-8 {width: 66.66%;}
.col-lg-9 {width: 75%;}
.col-lg-10 {width: 83.33%;}
.col-lg-11 {width: 91.66%;}
.col-lg-12 {width: 100%;}
.col-lg-4-offset {
	margin-left: 20%;
	margin-right: 20%;
}

@media (max-width: 1400px) {
.col-md-1 {width: 8.33%;}
.col-md-2 {width: 16.66%;}
.col-md-3 {width: 25%;}
.col-md-4 {width: 33.33%;}
.col-md-5 {width: 41.66%;}
.col-md-6 {width: 50%;}
.col-md-7 {width: 58.33%;}
.col-md-8 {width: 66.66%;}
.col-md-9 {width: 75%;}
.col-md-10 {width: 83.33%;}
.col-md-11 {width: 91.66%;}
.col-md-12 {width: 100%;}

.footer-social {
	padding-top: 15px;
}
}

@media (max-width: 768px){
.col-sm-1 {width: 8.33%;}
.col-sm-2 {width: 16.66%;}
.col-sm-3 {width: 25%;}
.col-sm-4 {width: 33.33%;}
.col-sm-5 {width: 41.66%;}
.col-sm-6 {width: 50%;}
.col-sm-7 {width: 58.33%;}
.col-sm-8 {width: 66.66%;}
.col-sm-9 {width: 75%;}
.col-sm-10 {width: 83.33%;}
.col-sm-11 {width: 91.66%;}
.col-sm-12 {width: 100%;}

[class*="col-sm"] {
	padding: 20px;
}

header {
		display: block;
		background-color: #fff;
		height: 40vh;
		text-align: center;
		margin: 0 auto;
	}
header>nav>ul>li {
		height: 50px;
	}
.jumbotron {
	height: 60vh;
}

.jumbo-text {
	top: 50vh;
	left: 20vh;
	}
.jumbotron h2 {
	font-size: 60px;
	}

.jumbotron p {
	font-size: 20px;
	}
}

@media (max-width: 425px) {
.col-xs-1 {width: 8.33%;}
.col-xs-2 {width: 16.66%;}
.col-xs-3 {width: 25%;}
.col-xs-4 {width: 33.33%;}
.col-xs-5 {width: 41.66%;}
.col-xs-6 {width: 50%;}
.col-xs-7 {width: 58.33%;}
.col-xs-8 {width: 66.66%;}
.col-xs-9 {width: 75%;}
.col-xs-10 {width: 83.33%;}
.col-xs-11 {width: 91.66%;}
.col-xs-12 {width: 100%;}

header {
		display: block;
		background-color: #fff;
		height: 40vh;
		text-align: center;
		margin: 0 auto;
	}
header>nav>ul>li {
		height: 50px;
	}
.jumbotron {
	height: 50vh;
	}	
.jumbo-text {
	top: 50vh;
	left: 10vh;
	}
.jumbotron h2 {
	font-size: 40px;
	}

.jumbotron p {
	font-size: 20px;
	}
}
