@charset "utf-8";
/* CSS Document */

body {
	background-image: url(tlo.png);
	background-repeat: repeat-x;
	background-color: #99ccff;
}

.content {
	width: 960px;
	padding: 20px;
	margin-left: auto;
	margin-right: auto;
	background-color: #FFF;
}

h1 {
	font-size: 3em;
	text-shadow: 3px 3px 2px #666;
}











