* {
    box-sizing: border-box;
}
body {
    max-width: 1200px;
    padding: 0;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-content: center;
}
button {
    border: none;
    font-weight: bold;
    padding: 5px;
}
ul {
    padding: 0;
}
li {
    list-style: none;
    padding: 0;
}
/*Buttons style*/
.create-column {
    width: 200px;
    height: 50px;
    background-color: darkblue;
    color: white;
    font-size: 20px;
    margin: 20px;
}
.add-card {
    background-color: aquamarine;
    position: relative;
    top: -20px;
    width: 100%;
}
.btn-delete {
    background: none;
    position: absolute;
    right: 0px;
}
/*Column style*/
.column {
    border: 5px solid darkblue;
    width: 200px;
    height: initial;
    float: left;
    position: relative;
}
.column-title {
    border-bottom: 5px solid darkblue;
    text-align: center;
}
.card-placeholder {
    background-color: aquamarine;
}
.card-description {
    width: 100%;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    background-color: deepskyblue;
}
/*Card style*/
.card {
    position: relative;
    padding: 20px 0 20px 0;
}
