@charset "utf-8";
/* CSS Document */

body {
	background-image: url(tlo.png);
	background-repeat: repeat-x;
	background-color: #99ccff;
	font-family: Verdana, Geneva, sans-serif;
}

div#content {
	width: 960px;
	background-color: #FFF;
	margin-left: auto;
	margin-right: auto;
	padding: 15px;
}

p {
	font-size: 1.1em;
	-moz-column-count: 3;
	-moz-column-gap: 4em;
	-moz-column-rule: 1px solid #000;
	-webkit-column-count: 3;
	-webkit-column-gap: 4em;
	-webkit-column-rule: 1px solid #000;
}












