<section>
  <form class="signup-form" #signup="ngForm" (ngSubmit)="onSubmit(signup)">
    <mat-form-field>
      <input type="email"
             matInput
             placeholder="Your email"
             ngModel
             name="email"
             email
             required
             #emailInput="ngModel">
      <mat-error *ngIf="emailInput.hasError('required')">Field must not be empty</mat-error>
      <mat-error>E-mail is invalid</mat-error>
    </mat-form-field>
    <mat-form-field hintLabel="Should be at least 6 charachters long">
      <input type="password"
             matInput
             placeholder="Your password"
             ngModel
             name="password"
             required
             minlength="6"
             #pwInput="ngModel">
      <mat-hint align="end">{{ pwInput.value?.length }}</mat-hint>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Your birthdate" [matDatepicker]="picker" [max]="maxDate" ngModel name="birthdater" required>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
      <mat-checkbox ngModel labelPosition="before" name="agree" required>
        Agree to Term and Conditions.
      </mat-checkbox>
    <button type="submit" mat-raised-button color="primary" [disabled]="signup.invalid">Submit</button>
  </form>
</section>
