body {
    background: lightblue;
    font-family: Georgia, Arial, Helvetica;
    font-size: normal;
}
.section {
    margin: 20px auto;
    margin-top: 20px;
    text-align: center;
    background-color: white;
    box-sizing: border-box;
}
.box-model {
    padding: 20px;
    border-radius: 5px;
    max-width: 500px;
    width: 70%;
}
.margin, .border, .padding, .content {
    padding: 10px 40px 40px 40px;
}
.margin {
    background-color: orange;
}
.border {
    background-color: lightyellow;
}
.padding {
    background-color: lightgreen;
}
.content {
    background-color: lightblue;
    padding: 10px;
}
.playground {
    width: 70%;
    height: auto;
    padding: 20px;
    border: 15px solid green;
    border-radius: 15px;
}
