body {
    background-color: #f39c12;
    font-family: Verdana;
}
.container {
    background-color: #fff;
    padding: 20px;
    max-width: 600px;
    margin: auto;
    border-radius: 4px;
}
h1 {
    text-align: center;
}

h1, h2 {
    font-family: Georgia;
}
