* {
    box-sizing: border-box;
}
body {
    margin: 0 auto;
    padding: 0;
    max-width: 800px;
}
main {
    width: 100%;
    height: initial;
    margin: 0 auto;
    padding: 50px 0 50px 0;
    text-align: center;
    background: #0e2f44;
    color: #ced5d9;
}
#search {
    width: 130px;
    height: 30px;
    font-size: 14px;
}
li {
    list-style: decimal;
    font-size: 30px;
    text-align: left;
    color: #fff;
}
p {
    font-size: 24px;
    font-style: italic;
    text-align: left;
    color: #a3bdcd;
}
