body {
  margin: 0;
  padding-top:30px;
}

img {
  margin-bottom: 20px;  
}

h2 {
  margin-bottom: 20px;
}

h1 {
  padding-top: 30px;
}

.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}

.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}

.navbar-wrapper .navbar .container-fluid {
  width: auto;
}

.media-object {
  height: 200px;
  width: auto;
}

.jumbotron > p {
  padding: 0 30px;
}

.gallery {
  margin-top: 15px;
}

.row > .gallery {
  margin-left: -10px;
}


