@charset "utf-8";
/* CSS Document */

body {
	margin: 0px;
	background-color: #09F;
}

#content {
	background-color: #FFF;
	padding: 10px;
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	min-height: 600px;
}

p {
	font-size: 0.5em;
}












