@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Lora:400,400italic,700,700italic);

body {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #3498db;
}

h1, h2 {
	margin: 10px 0;
	font-family: 'Lora', serif;
	text-transform: uppercase;
}

.hero {
	padding: 100px 0;
	text-align: center;
	background: url(/static/lessons/blue-mountain.jpg) center;
	background-size: cover;
}

.hero-content {
	max-width: 500px;
	background-color: rgba(0, 0, 0, 0.7);
	margin: auto;
	box-shadow: 2px 2px 10px #000;
	border-radius: 4px;
	color:white;
}

button {
	background-color: #2ecc71;
	padding: 15px 40px;
	border-radius: 4px;
	border: none;
	cursor: pointer;
	font-weight: 700;
	color: #FFFFFF;
	text-transform: uppercase;
}

button:hover {
	background-color: #27ae60;
}

.content {
	width: 80%;
	max-width:  700px;
	border-radius: 4px;
	padding: 50px;
	margin: 50px auto;
	text-align: center;
	color: #444;
	background-color: #FFFFFF;
	box-shadow: 2px 2px 5px #000;
}

.content i {
	font-size: 50px;
}

.content p {
	margin: 0 0 35px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}