body {
    background-color: #f39c12;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}
.hero {
    background: url('/static/lessons/desert.jpg') 0/cover no-repeat;
    height: 200px;
    line-height: 160px;
}
.container {
    max-width: 700px;
    margin: 20px auto;
    border-radius: 4px;
    background-color: #fff;
    padding: 20px;
}
.nav {
    text-align: center;
    background: #f1c40f;
}
a {
    padding: 20px;
    color: #fff;
    text-decoration: none;
    display: inline-block;
}
a:hover {
    color: #d35400;
}
h1, .footer {
    text-align: center;
    color: #fff;
    margin: 0;
    padding: 20px;
}
.footer {
    background: #d35400;
}
.text-uppercase {
    text-transform: uppercase;
}
.text-lowercase {
    text-transform: lowercase;
}
.text-capitalize {
    text-transform: capitalize;
}
