@charset "utf-8";
/* CSS Document */

body {
	background-image: url(tlo.png);
	background-repeat: repeat-x;
	background-color: #99ccff;
	font-family: Verdana, Geneva, sans-serif;
}

div#content {
	width: 960px;
	background-color: #FFF;
	margin-left: auto;
	margin-right: auto;
	padding: 15px;
	height: 960px;
}

p {
	font-size: 1.1em;
}

#box {
	width: 300px;
	height: 200px;
	background-color: #06F;
	-moz-transition: all 4s;
}

#box:hover {
	background-color: #900;
	width: 500px;
	height: 350px;
}













