*{
box-sizing: border-box;
}
body {
    margin: 0 auto;
    padding: 0;
    max-width: 800px;
}
main {
    width: 100%;
    height: 600px;
    margin: 0 auto;
    padding-top: 50px;
    text-align: center;
    background: #55acee;
    color: #fff;
}
header {
    width: 100%;
}
.trigger {
    width: 200px;
    height: 34px;
    margin-bottom: 20px;
    background: #55acee;
    border: 4px solid rgba(136, 196, 243, 0.7);
    color: #fff;
    font-size: 20px;
}
.tweet {
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 34px;
    border: 4px solid rgba(136, 196, 243, 0.7);
    color: #fff;
    font-size: 20px;
    text-decoration: none;
}
