@charset "utf-8";
/* CSS Document */

body {
	background-image: url(tlo.png);
	background-repeat: repeat-x;
	background-color: #99ccff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
}

.content {
	width: 960px;
	padding: 20px;
	margin-left: auto;
	margin-right: auto;
	background-color: #FFF;
}

table {
	width: 550px;
	empty-cells: show;
	border-collapse: collapse;
	caption-side: bottom;
}

thead {
	background-color: #333;
	color: #FFF;
}

tbody {
	background-color: #CCC;
}
















