@font-face {
  font-family: GothamRounded;
  src: url("../fonts/GothamRounded.ttf"); }

@font-face {
  font-family: GothamBold;
  src: url("../fonts/Gotham Rounded Bold.otf"); }

.header-section {
  font-family: GothamRounded; }
  .header-section .container-fluid {
    padding: 0; }

.hero {
  height: 100vh;
  width: 100%;
  background-image: url("../images/build/Livello 1.png");
  background-size: cover;
  background-position: bottom;
  overflow: hidden; }

.navbar-default {
  background: none;
  border: none;
  text-align: center; }
  .navbar-default .navbar-nav {
    padding-top: 4%; }
    .navbar-default .navbar-nav li {
      padding-left: 40px;
      padding-right: 40px; }
      .navbar-default .navbar-nav li a {
        color: white;
        font-family: GothamBold;
        font-size: 16px;
        font-weight: 400; }
        .navbar-default .navbar-nav li a:focus, .navbar-default .navbar-nav li a:hover {
          color: #16a085;
          text-shadow: 2px 2px 2px black; }

.header-section {
  position: relative; }
  .header-section .row {
    margin-right: 0;
    margin-left: 0; }

.hero-header {
  position: absolute;
  top: 40%;
  bottom: 0;
  left: 0;
  right: 0; }
  .hero-header h1 {
    color: white;
    font-size: 50px;
    letter-spacing: 7px; }
  .hero-header h4 {
    color: white;
    font-weight: 0;
    letter-spacing: 3px;
    margin-bottom: 25px; }

.hero-btn {
  background-color: #16a085;
  box-shadow: 2px 2px 2px black;
  font-family: GothamBold;
  border: none;
  height: 60px;
  width: 200px;
  font-size: 13px;
  letter-spacing: 0;
  color: white;
  transition: 0.7s; }
  .hero-btn:focus, .hero-btn:hover {
    background-color: #16a085;
    font-size: 16px;
    letter-spacing: 2px;
    color: white;
    box-shadow: none; }

.social-icons {
  position: absolute;
  bottom: 2%;
  left: 0;
  right: 0;
  color: white;
  font-size: 30px; }
  .social-icons a {
    color: white; }
    .social-icons a i:focus, .social-icons a i:hover {
      color: #16a085;
      transition: 0.5s; }

.iphone-section {
  font-family: GothamRounded;
  padding-top: 10vh;
  background-color: #f5f6f7;
  background-image: url("../images/build/iphone-hand.png");
  background-repeat: no-repeat;
  background-position: 80% -35%; }
  .iphone-section .iphone-background {
    max-width: 1170px;
    width: 80%; }

.green-h2 {
  color: #16a085;
  letter-spacing: 3px;
  font-weight: 700;
  font-size: 28px;
  margin-bottom: 30px; }

.paragraph {
  color: #373737;
  font-weight: 0;
  margin-bottom: 30px;
  letter-spacing: 3px;
  text-shadow: 1px 2px 0 white; }
  .paragraph .bold {
    font-family: GothamBold; }

.design-section {
  max-height: 500px;
  padding-top: 60px; }
  .design-section .color-iphone {
    margin: 0 auto; }

.chevron-div {
  padding-top: 50px; }
  .chevron-div p {
    font-family: GothamBold;
    font-weight: 700; }
  .chevron-div i {
    font-size: 24px;
    padding-right: 10px;
    cursor: pointer; }
    .chevron-div i:active {
      color: #16a085; }

.gallery-section {
  font-family: GothamRounded;
  background-color: #f5f6f7;
  padding-top: 150px;
  padding-bottom: 120px;
  position: relative; }
  .gallery-section .column-justify {
    padding-top: 20px; }
  .gallery-section .community-header {
    font-family: GothamBold;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 2px; }
  .gallery-section .img-responsive {
    max-width: 80%; }
  .gallery-section .image-column {
    padding: 0; }
    .gallery-section .image-column .gallery-image {
      margin: 0 auto; }

.chevron-position {
  position: absolute;
  top: 20%;
  right: 3%; }
  .chevron-position i {
    font-size: 24px;
    cursor: pointer;
    padding-right: 10px; }
    .chevron-position i:active {
      color: #16a085; }

.subscribe-section {
  background-image: url("../images/build/Livello 3.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  padding-top: 25%; }
  .subscribe-section .subsc-header {
    font-family: GothamBold;
    font-weight: 700;
    letter-spacing: 3px;
    color: white; }
  .subscribe-section .input-group {
    margin: 0 auto; }
    .subscribe-section .input-group input {
      font-family: GothamRounded;
      height: 60px;
      font-size: 18px;
      color: black; }
    .subscribe-section .input-group button {
      color: white;
      height: 60px;
      width: 60px;
      background-color: #16a085;
      border: 1px solid #16a085; }
      .subscribe-section .input-group button i {
        font-size: 25px; }
      .subscribe-section .input-group button:hover, .subscribe-section .input-group button:active {
        background-color: #12bd9d; }

.download-section {
  padding: 50px 0;
  background-color: #f5f6f7; }
  .download-section h3 {
    font-family: GothamBold;
    font-size: 20px;
    font-weight: 700; }
  .download-section p {
    font-family: GothamRounded;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 1px;
    color: #373737;
    line-height: 22px;
    padding-bottom: 30px; }
  .download-section .download-btn {
    margin: 10px 20px;
    font-family: GothamBold;
    letter-spacing: 2px;
    color: white;
    line-height: 50px;
    padding: 0 0 0 15px;
    background-color: #12bd9d;
    width: 250px;
    text-align: left;
    font-size: 16px; }
    .download-section .download-btn i {
      float: right;
      background-color: #16a085;
      font-size: 25px;
      line-height: 50px;
      padding: 0 20px 0 20px; }
    .download-section .download-btn:hover, .download-section .download-btn:active {
      transition: 0.3s;
      background-color: #16a085;
      color: black; }
      .download-section .download-btn:hover i, .download-section .download-btn:active i {
        background-color: #12bd9d; }

.footer-section {
  padding: 50px 10px; }
  .footer-section img {
    float: right; }
  .footer-section a {
    font-family: GothamBold;
    color: black;
    letter-spacing: 2px;
    line-height: 40px; }
    .footer-section a:hover {
      text-decoration: none;
      color: #12bd9d; }
  .footer-section span {
    color: #12bd9d;
    font-weight: 700; }
  .footer-section p {
    font-family: GothamBold;
    letter-spacing: 2px; }

@media (min-width: 768px) {
  .navbar-nav {
    float: none;
    margin: 0 auto; }
    .navbar-nav li {
      float: none;
      display: inline-block; }
  .iphone-section {
    padding-bottom: 10vh; }
  .design-section {
    overflow: hidden; } }

@media (max-width: 767px) {
  .navbar-nav .camera-icon {
    display: none; }
  .navbar-collapse {
    border-top: none; }
  .hero {
    min-height: 500px; }
  .iphone-section {
    min-height: 500px; }
  .flat-iphone {
    padding-bottom: 6vh; }
  .gallery-section {
    background: none; }
  .chevron-position {
    display: none; }
  .footer-section img {
    float: none;
    margin: 0 auto;
    padding-top: 20px; }
  .footer-section .copyright {
    text-align: center; } }

@media (min-width: 768px) and (max-width: 1200px) {
  .navbar-default .navbar-nav li {
    padding-left: 0;
    padding-right: 0; }
  .chevron-position {
    top: 23%;
    right: 25%; } }

@media (max-width: 1200px) {
  .gallery-image {
    padding-bottom: 20px; } }

@media (max-width: 1000px) {
  .chevron-position {
    right: 10%; } }

@media (max-width: 600px) {
  .iphone-section {
    height: 70vh; } }

/*# sourceMappingURL=style.css.map */