@charset "utf-8";
/* CSS Document */

body {
	margin: 0px;
	background-color: #09F;
}

#content {
	background-color: #FFF;
	padding: 10px;
	width: 960px;
	height: 500px;
	margin-left: auto;
	margin-right: auto;
	overflow: auto;
	resize: both;
}

p {
	font-size: 1.1em;
}












