@import url('https://fonts.googleapis.com/css?family=Quicksand');

body {
	background: lightblue;
	font-family: 'Quicksand', sans-serif;
	margin: 0;
	padding: 0;
}

a {
	text-decoration:none;
}

a:hover {
	background-color: #3255a7;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

nav {
	background-color: #4577ED;
	text-align: center;
}

nav li {
	display: inline-block;
}

nav li a {
	color: white;
	display: inline-block;
	height: 50px;
	line-height: 50px;
	padding: 0 10px;
	transition-duration:1s;
	-webkit-transition-duration:1s;/* dla Google Chrome, Safari, Opera 15+ */
	transition-property:background-color;
}

nav ul ul li {
	display: block;
}

nav li ul {
	display: none;
}

nav li:hover ul {
	background-color: #4577ED;
	color: white;
	display: block;
	position: absolute;
}