@charset "utf-8";
/* CSS Document */

body {
	background-image: url(tlo.png);
	background-repeat: repeat-x;
	background-color: #99ccff;
}

.content {
	width: 960px;
	padding: 20px;
	margin-left: auto;
	margin-right: auto;
	background-color: #FFF;
}

p {
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
}

p#akapit1 {
	outline: #000 45px solid;
}

p#akapit2 {
	border: #000 45px solid;
}









