body {
	background-color: #2c3e50;
}
.btn {
	display:inline-block;
	margin: 4px 2px;
	min-width: 160px;
	padding: 15px 30px;
	font-size: 16px;
	font-weight: bold;
	border-radius: 5px;
	cursor: pointer;
	transition: 0.6s;
} 
.btn-purple {
	background-color: inherit;
	background-position: 100% 0;
	background-size: 300%;
	background-image: linear-gradient(90deg, #8e44ad 50%, transparent 50%);
	border: 2px solid #8e44ad;
	color: #8e44ad;
}
.btn-yellow {
	background-color: inherit;
	background-position: 100% 0;
	background-size: 300%;
	background-image: linear-gradient(45deg, #f1c40f 50%, transparent 50%);
	border: 2px solid #f1c40f;
	color: #f1c40f;
}
.btn-blue {
	background-color: inherit;
	background-position: 100% 0;
	background-size: 300%;
	background-image: linear-gradient(135deg, #3498db 50%, transparent 50%);
	border: 2px solid #3498db;
	color: #3498db;
}
.btn-purple:hover {
	background-position: 0 100%;
	color: white;
}
.btn-yellow:hover {
	background-position: 0 100%;
	color: white;
}
.btn-blue:hover {
	background-position: 0 100%;
	color: white;
}