@charset "utf-8";
/* CSS Document */

body {
	background-image: url(tlo.png);
	background-repeat: repeat-x;
	background-color: #99ccff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
}

.content {
	width: 960px;
	padding: 20px;
	margin-left: auto;
	margin-right: auto;
	background-color: #FFF;
}

ul {
	font-size: 1.2em;
	list-style: url(arrow.png) circle outside;
}

ol {
	list-style-type: lower-roman;
}















