@charset "utf-8";
/* CSS Document */

body {
	background-image: url(tlo.png);
	background-repeat: repeat-x;
	background-color: #99ccff;
	font-family: Arial, Helvetica, sans-serif;
}

.content {
	width: 960px;
	padding: 20px;
	margin-left: auto;
	margin-right: auto;
	background-color: #FFF;
}

.akapit1 {
	font-weight: 200;
	font-variant: small-caps;
}

.akapit2 {
	font-weight: 800;
}





