@import url('http://fonts.googleapis.com/css?family=Crete+Round');

body {
    background-color: #fff;
    color: #777;
    font: normal 15px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

p {
    line-height: 20px;
    margin-bottom: 20px;
}

h1 {
    color: #444;
    font-family: 'Crete Round', serif;
    font-weight: bold;
    font-size: 45px;
    margin-bottom: 20px;
}

h2 {
    color: #444;
    font-weight: 300;
    font-size: 55px;
    margin-bottom: 20px;
    text-transform: uppercase;
    text-align: center;
}

h3 {
    color: #444;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    text-transform: uppercase;
    text-align: center;
}

h4 {
    color: #444;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-transform: uppercase;
}

h5 {
    color: #444;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
}

a {
    color: #444;
    text-decoration: none;
}

a:hover {
    color: #02b8dd;
}

strong {
    font-weight: bold;
}

small {
    color: #777;
    font-size: 13px;
    font-style: italic;
}
.clear {
    clear: both;
}

.wrapper {
    margin: 0 auto;
    padding: 0 10px;
    width: 940px;
}

header {
    height: 120px;
}

header h1 {
    float: left;
    margin-top: 32px;
}

header h1 .color {
    color: #02b8dd;
}

header nav {
    float: right;
}

header nav ul li {
    display: inline-block;
    float: left;
    margin-top: 50px;
}

header nav ul li a {
    color: #444;
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 20px;
}

#hero-image {
    background: #e8eced url('https://static.pexels.com/photos/167684/pexels-photo-167684.jpeg') no-repeat center;
    height: 580px;
    padding-top: 1px;
}

#hero-image h2 {
    color: #FFFFFF;
    margin: 180px 0 40px 0;
}

.button-1 {
    background: #444;
    border-radius: 3px;
    color: #fff;
    display: block;
    font-size: 20px;
    height: 50px;
    line-height: 50px;
    margin: 0 auto;
    text-align: center;
    width: 180px;
}

.button-1:hover {
    background-color: #02b8dd;
    color: #fff;
}

aside {
    left: 10px;
    position: fixed;
    top: 45vh;
}

aside .fa {
    background-color: #34495e;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    display: block;
    height: 50px;
    line-height: 50px;
    margin-bottom: 10px;
    text-align: center;
    width: 50px;
}

aside .fa:hover {
    background-color: #253341;
}

#features ul {
    margin: 80px 0;
}

#features ul li {
    float: left;
    padding-top: 160px;
    margin-right: 10px;
    text-align: center;
    width: 300px;
}

#features ul li.feature-1 {
    background: url('http://via.placeholder.com/150x150') no-repeat top center;
}

#features ul li.feature-2 {
    background: url('http://via.placeholder.com/150x150') no-repeat top center;
}

#features ul li.feature-3 {
    background: url('http://via.placeholder.com/150x150') no-repeat top center;
}

#primary-content {
    background-color: #f8fafa;
    padding: 60px 0;
    text-align: center;
}

#primary-content h3 {
    border-bottom: 1px solid #02b8dd;
    display: block;
    margin: 0 auto 20px auto;
    padding: 0 0 20px 0;
    width: 400px;
}

#primary-content a img {
    margin: 20px 0;
}

#secondary-content {
    padding: 60px 0;
    text-align: center;
}

#secondary-content article {
    background-color: #f5f5f5;
    height: 270px;
    float: left;
    width: 460px;
}

#secondary-content article:first-child {
    margin-right: 20px;
}

#secondary-content article .overlay {
    background: rgba(255, 255, 255, .95);
    height: 230px;
    padding: 20px;
    width: 190px;
}

article h4 {
    border-bottom: 1px solid #02b8dd;
    padding-bottom: 20px;
}

.more-link {
    border: 1px solid #02b8dd;
    border-radius: 3px;
    color: #02b8dd;
    padding: 6px 20px;
}

.more-link:hover {
    background-color: #02b8dd;
    color: #fff;
}

#cta {
    padding: 60px 0;
    text-align: center;
}
#cta h3 {
    border-bottom: 1px solid #02b8dd;
    display: block;
    margin: 0 auto 20px auto;
    padding: 0 0 20px 0;
    width: 400px;
}

.button-2 {
    border: 2px solid #02b8dd;
    border-radius: 3px;
    color: #02b8dd;
    display: block;
    font-size: 20px;
    height: 50px;
    line-height: 50px;
    margin: 0 auto;
    width: 180px;
}

.button-2:hover {
    background-color: #02b8dd;
    color: #fff;
}

footer {
    background-color: #f8fafa;
    padding: 60px 0;
}

#footer-info {
    float: left;
    margin-top: 10px;
    width: 380px;
}

#footer-links {
    float: right;
    width: 520px;
}

#footer-links ul {
    float: left;
    margin-left: 20px;
    width: 150px;
}

#footer-links ul li {
    margin: 10px 0;
}

