@charset "utf-8";
/* CSS Document */

body {
	background-image: url(tlo.png);
	background-repeat: repeat-x;
	background-color: #99ccff;
	font-family: Verdana, Geneva, sans-serif;
}

img {
	position: absolute;
	top: 0px;
	left: 0px;
	clip: rect(0px 550px 250px 200px);
}













