@charset "utf-8";
/* CSS Document */

body {
	background-image: url(tlo.png);
	background-repeat: repeat-x;
	background-color: #99ccff;
	font-family: Verdana, Geneva, sans-serif;
}

div#content {
	width: 960px;
	background-color: #FFF;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
}

p {
	font-size: 1.1em;
	color: #333;
}

ul li {
	display: inline;
}

#nowosci a {
	display: block;
}















