body {
    background: green;
    font-family: Georgia, Arial, Helvetica;
}
.section {
    max-width: 500px;
    width: 80%;
    margin: 20px auto;
    text-align: justify;
    background-color: white;
    padding: 10px 20px 20px 20px;
    border-radius: 5px;
}
table {
    width: 100%;
    border-collapse: collapse;
}
table th, table td {
    /* make your magic here! */
    border: 1px solid #ccc;
    padding: 5px;

}
