@charset "utf-8";
/* CSS Document */

body {
	background-image: url(tlo.png);
	background-repeat: repeat-x;
	background-color: #99ccff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
}

.content {
	width: 960px;
	padding: 20px;
	margin-left: auto;
	margin-right: auto;
	background-color: #FFF;
}

.akapit1 {
	font-size: 1.4em;
}

.akapit2 {
	font-size: 0.8em;
}









