body {
	background-color: #eeeeee;
	margin: 0;
}

.header {
	text-align: center;
	background-color: #0d8abc;
	color: white;
	padding: 30px 0;
}

.header h1 {
	font-family: Georgia;	
}

.content {
	max-width: 500px;
	margin: 0 auto;
	background-color: #daeaf6;
	padding: 20px;
}

.footer {
	background-color: #626060;
	text-transform: uppercase;
	font-weight: 700;
}

.footer p {
	margin: 0;
	color: white;
	padding: 15px 15px 20px 20px;
}

.banner {
	background-image: url("https://images.pexels.com/photos/592285/pexels-photo-592285.jpeg?h=350&auto=compress&cs=tinysrgb");	
}

h1 {
	text-align: center;
}

img {
	width: 100%;
}




