@import url('https://fonts.googleapis.com/css?family=Quicksand');

* {
  box-sizing:border-box;
}

.jumbotron {
  background-image: url("http://kodilla.com/static/lessons/blue-mountain.jpg");
  background-size: cover;
  background-position:  center;
  height: 100vh;
  overflow: hidden;
  padding-top: 42vh;
  text-align:center;
  width: 100%;
}

.jumbotron h1 {
  color:white;
  margin: 0;
  font-size: 38px;
  font-weight: 500;
  font-family: 'Quicsand', sans-serif;
}

.jumbotron button {
  background-color: #4577ED;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 20px;
  font-family: 'Quicsand', sans-serif;
  margin-top: 20px;
  padding: 15px 40px;
  transition: .3s;
}

.jumbotron button:hover {
  background-color: #7E9FED;
}

.gallery img {
  float: left;
  width: 25%;
}

.gallery img:hover {
  cursor: pointer;
  opacity: 0.8;
}